{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Change Password | Public Safety Reporting System</title>

    <link rel="stylesheet"
          href="{% static 'users/css/edit_profile.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="container">

    <div class="card">

        <h2>

            <i class="fa-solid fa-key"></i>

            Change Password

        </h2>


        <p>
            For your security, enter your current password
            and then choose a new password.
        </p>


        <form method="POST">

            {% csrf_token %}


            <!-- Current Password -->

            <div class="form-group">

                <label for="{{ form.old_password.id_for_label }}">

                    <i class="fa-solid fa-lock"></i>

                    Current Password

                </label>

                {{ form.old_password }}

                {% if form.old_password.errors %}

                    <div class="error">

                        {{ form.old_password.errors }}

                    </div>

                {% endif %}

            </div>


            <!-- New Password -->

            <div class="form-group">

                <label for="{{ form.new_password1.id_for_label }}">

                    <i class="fa-solid fa-lock"></i>

                    New Password

                </label>

                {{ form.new_password1 }}

                {% if form.new_password1.errors %}

                    <div class="error">

                        {{ form.new_password1.errors }}

                    </div>

                {% endif %}

            </div>


            <!-- Confirm Password -->

            <div class="form-group">

                <label for="{{ form.new_password2.id_for_label }}">

                    <i class="fa-solid fa-lock"></i>

                    Confirm New Password

                </label>

                {{ form.new_password2 }}

                {% if form.new_password2.errors %}

                    <div class="error">

                        {{ form.new_password2.errors }}

                    </div>

                {% endif %}

            </div>


            <!-- Password Requirements -->

            {% if form.new_password1.help_text %}

                <div class="password-help">

                    {{ form.new_password1.help_text|safe }}

                </div>

            {% endif %}


            <!-- Non-field Errors -->

            {% if form.non_field_errors %}

                <div class="error">

                    {{ form.non_field_errors }}

                </div>

            {% endif %}


            <!-- Submit -->

            <button type="submit">

                <i class="fa-solid fa-check"></i>

                Change Password

            </button>

        </form>


        <br>


        <a href="{% url 'profile' %}">

            <i class="fa-solid fa-arrow-left"></i>

            Back to Profile

        </a>

    </div>

</div>

</body>

</html>